<div class="grid-wrap meta">
  <div class="section">
    <h1 class="name"><%= PROFILE_HSH.name %></h1>
  </div>
  <div class="content">
    <div class="content-inner">
      <div class="url">
        <a href="mailto:<%= PROFILE_HSH.email %>"><%= PROFILE_HSH.email %></a>
      </div>
      <div class="url">
        <a href="<%= PROFILE_HSH.url %>"><%= url(PROFILE_HSH.url) %></a>
      </div>
      <div><%= PROFILE_HSH.location.city %>, <%= PROFILE_HSH.location.state %></div>
    </div>
  </div>
</div>
