<div class="grid-wrap listings talks">
  <div class="section">
    <h2 id="talks">Talks</h2>
  </div>
  <div class="content">
    <% PROFILE_HSH.talks.each do |talk| %>
      <div class="listing">
        <h3>
          <a href="<%= talk.url %>"><%= talk.title %></a>
        </h3>
        <h3><%= talk['event'] %></h3>
        <div class="dates"><%= date(talk.date) %></div>
        <p><%= talk['description'] %></p>
        <!-- this only displayed when printing -->
        <p class="url">
          <a href="<%= talk.url %>"><%= url(talk.url) %></a>
        </p>
      </div>
    <% end %>
  </div>
</div>
