<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Aidan Feldman's (Long-Form) Resume</title>
    <link rel="stylesheet" type="text/css" href="assets/resume.css">
  </head>
  <body>
    <div class="grid-wrap meta">
      <div class="section">
        <h1 class="name"><%= PROFILE_HSH.name %></h1>
      </div>
      <div class="content">
        <div class="content-inner">
          <div class="url">
            <a href="mailto:<%= PROFILE_HSH.email %>"><%= PROFILE_HSH.email %></a>
          </div>
          <div class="url">
            <a href="<%= PROFILE_HSH.url %>"><%= url(PROFILE_HSH.url) %></a>
          </div>
          <div><%= PROFILE_HSH.location.city %>, <%= PROFILE_HSH.location.state %></div>
        </div>
      </div>
    </div>
    <div class="grid-wrap listings employment">
      <div class="section">
        <h1>Experience includes</h1>
      </div>
      <div class="content">
        <% JOBS.each do |job| %>
          <div class="listing">
            <h2><%= job.title %></h2>
            <h2>
              <a href="<%= job.url %>"><%= job.organization %></a>
            </h2>
            <div class="dates"><%= date_range(job) %></div>
            <p><%= job.description %></p>
            <% if job['responsibilities']  %>
              <ul class="responsibilities">
                <% job.responsibilities.each do |resp| %>
                  <li>
                    <p>
                      <a href="<%= resp.url %>" class="title"><%= [resp.group, resp.title].compact.join(' — ') %></a>: <%= resp.description %>
                      <% if resp['url'] %>
                        <span class="url">
                          <a href="<%= resp.url %>"><%= url(resp.url) %></a>
                        </span>
                      <% end %>
                    </p>
                  </li>
                <% end %>
              </ul>
            <% end %>
            <% if job['skills'] && job.skills.any? %>
              <div><em>Skills/tools:</em> <%= job.skills.join(', ') %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="grid-wrap listings education">
      <div class="section">
        <h1>Education</h1>
      </div>
      <div class="content">
        <%# exclude high school %>
        <% PROFILE_HSH.education[0...-1].each do |edu| %>
          <div class="listing">
            <h2><%= edu.school %>, <%= edu.location.city %>, <%= edu.location.state %></h2>
            <div class="dates"><%= date_range(edu) %></div>
            <ul>
              <% edu.degrees.each do |degree| %>
                <li><%= degree.title %> <%= degree.major %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <div class="grid-wrap listings talks">
      <div class="section">
        <h1>Talks</h1>
      </div>
      <div class="content">
        <% PROFILE_HSH.talks.each do |talk| %>
          <div class="listing">
            <h2>
              <a href="<%= talk.url %>"><%= talk.title %></a>
            </h2>
            <h2><%= talk['event'] %></h2>
            <div class="dates"><%= date(talk.date) %></div>
            <p><%= talk['description'] %></p>
            <!-- this only displayed when printing -->
            <p class="url">
              <a href="<%= talk.url %>"><%= url(talk.url) %></a>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="grid-wrap listings writing">
      <div class="section">
        <h1>Publications</h1>
      </div>
      <div class="content">
        <% PROFILE_HSH.writing.each do |writing| %>
          <div class="listing">
            <h2>
              <a href="<%= writing.url %>"><%= writing.title %></a>
            </h2>
            <% if writing.publisher != 'self' %>
              <h2><%= writing.publisher %></h2>
            <% end %>
            <div class="dates"><%= date(writing.date) %></div>
            <!-- this only displayed when printing -->
            <div class="url">
              <a href="<%= writing.url %>"><%= url(writing.url) %></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="grid-wrap listings writeups">
      <div class="section">
        <h1>Writeups</h1>
      </div>
      <div class="content">
        <% PROFILE_HSH.writeups.each do |writeup| %>
          <div class="listing">
            <h2>
              <a href="<%= writeup.url %>"><%= writeup.title %></a>
            </h2>
            <h2><%= writeup.publisher %></h2>
            <div class="dates"><%= date(writeup.date) %></div>
            <!-- this only displayed when printing -->
            <div class="url">
              <a href="<%= writeup.url %>"><%= url(writeup.url) %></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
