<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= current_page.data.title %> | <%= data.resume.name %></title>
    <link
      rel="canonical"
      href="<%= (current_page.data.canonical_origin || 'https://afeld.me') + current_page.url %>"
    />
    <style>
      html {
        font-family: sans-serif;
        padding: 2rem;
      }
      body {
        max-width: 50rem;
      }
      hr {
        margin: 3rem 0;
      }
    </style>
    <%= yield_content :head %>
    <%= partial :ga %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
