<div class="grid-wrap listings education">
  <div class="section">
    <h2 id="education">Education</h2>
  </div>
  <div class="content">
    <%# exclude high school %>
    <% data.index.education[0...-1].each do |edu| %>
      <div class="listing">
        <h3><%= edu.school %>, <%= edu.location.city %>, <%= edu.location.state %></h3>
        <div class="dates"><%= date_range(edu) %></div>
        <ul>
          <% edu.degrees.each do |degree| %>
            <li><%= degree.title %> <%= degree.major %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
