<div class="listings writeups">
  <div class="section">
    <h2 id="writeups">Writeups</h2>
  </div>
  <div class="content">
    <% data.resume.writeups.each do |writeup| %>
      <div class="listing">
        <h3>
          <a href="<%= writeup.url %>"><%= writeup.title %></a>
        </h3>
        <h3><%= writeup.publisher %>, <span class="dates"><%= date(writeup.date) %></span></h3>
        <!-- this only displayed when printing -->
        <div class="url">
          <a href="<%= writeup.url %>"><%= url(writeup.url) %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
